<center><h1>interpolate()</h1></center> <br>
By using interpolate we can fill NaN values with DataFrame OR Series <br>
Powerful Fn  <br>
Use Various interpolation techniques() Ex - linear method <br>

Syntax - DataFrame.interpolate() <br>
         Series.interpolate() <br>

In [1]:
import pandas as pd

In [3]:
f = pd.read_csv('E:\\Coding Tutorials\\Jupyter Tutorial\\Machine Learning Tutorials\\Tutorialcsvdata\\Tut31.csv')
f.head(10)

         Date  Student_ID  Class Section  Study_hrs  Percentage
0  01-07-2020      1001.0   10.0       A        2.0        50.0
1  02-07-2020      1002.0   10.0     NaN        NaN        80.0
2  03-07-2020         NaN   10.0     NaN        3.0        60.0
3  06-07-2020         NaN   11.0     NaN        0.0         NaN
4  07-07-2020      1005.0   11.0       A        4.0         NaN
5  08-07-2020         NaN   11.0       D       10.0         NaN
6  09-07-2020      1007.0   12.0       B        4.0        80.0
7  10-07-2020      1008.0   12.0       C        NaN        90.0
8  11-07-2020      1009.0   12.0       A        NaN        60.0
9  12-07-2020      1010.0   12.0       D        6.0        85.0

In [4]:
f.interpolate()                                       # It guess and fill only numeric values

          Date  Student_ID  Class Section  Study_hrs  Percentage
0   01-07-2020      1001.0   10.0       A   2.000000        50.0
1   02-07-2020      1002.0   10.0     NaN   2.500000        80.0
2   03-07-2020      1003.0   10.0     NaN   3.000000        60.0
3   06-07-2020      1004.0   11.0     NaN   0.000000        65.0
4   07-07-2020      1005.0   11.0       A   4.000000        70.0
5   08-07-2020      1006.0   11.0       D  10.000000        75.0
6   09-07-2020      1007.0   12.0       B   4.000000        80.0
7   10-07-2020      1008.0   12.0       C   4.666667        90.0
8   11-07-2020      1009.0   12.0       A   5.333333        60.0
9   12-07-2020      1010.0   12.0       D   6.000000        85.0
10         NaN      1010.0   12.0     NaN   6.000000        85.0
11         NaN      1010.0   12.0     NaN   6.000000        85.0

In [5]:
f.interpolate(method='linear')

          Date  Student_ID  Class Section  Study_hrs  Percentage
0   01-07-2020      1001.0   10.0       A   2.000000        50.0
1   02-07-2020      1002.0   10.0     NaN   2.500000        80.0
2   03-07-2020      1003.0   10.0     NaN   3.000000        60.0
3   06-07-2020      1004.0   11.0     NaN   0.000000        65.0
4   07-07-2020      1005.0   11.0       A   4.000000        70.0
5   08-07-2020      1006.0   11.0       D  10.000000        75.0
6   09-07-2020      1007.0   12.0       B   4.000000        80.0
7   10-07-2020      1008.0   12.0       C   4.666667        90.0
8   11-07-2020      1009.0   12.0       A   5.333333        60.0
9   12-07-2020      1010.0   12.0       D   6.000000        85.0
10         NaN      1010.0   12.0     NaN   6.000000        85.0
11         NaN      1010.0   12.0     NaN   6.000000        85.0

In [6]:
f.interpolate(method='time')                                 # It gives error because date is string type

ValueError: time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

In [7]:
type(f.Date[0])

str

# Convert str dtype to datetime dtype

In [8]:
f = pd.read_csv('E:\\Coding Tutorials\\Jupyter Tutorial\\Machine Learning Tutorials\\Tutorialcsvdata\\Tut31.csv' , parse_dates=['Date'])
f.head(10)

        Date  Student_ID  Class Section  Study_hrs  Percentage
0 2020-01-07      1001.0   10.0       A        2.0        50.0
1 2020-02-07      1002.0   10.0     NaN        NaN        80.0
2 2020-03-07         NaN   10.0     NaN        3.0        60.0
3 2020-06-07         NaN   11.0     NaN        0.0         NaN
4 2020-07-07      1005.0   11.0       A        4.0         NaN
5 2020-08-07         NaN   11.0       D       10.0         NaN
6 2020-09-07      1007.0   12.0       B        4.0        80.0
7 2020-10-07      1008.0   12.0       C        NaN        90.0
8 2020-11-07      1009.0   12.0       A        NaN        60.0
9 2020-12-07      1010.0   12.0       D        6.0        85.0

In [10]:
type(f.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

# To make index column Date

In [12]:
f = pd.read_csv('E:\\Coding Tutorials\\Jupyter Tutorial\\Machine Learning Tutorials\\Tutorialcsvdata\\Tut31.csv' , parse_dates=['Date'], index_col='Date')
f.head(10)

            Student_ID  Class Section  Study_hrs  Percentage
Date
2020-01-07      1001.0   10.0       A        2.0        50.0
2020-02-07      1002.0   10.0     NaN        NaN        80.0
2020-03-07         NaN   10.0     NaN        3.0        60.0
2020-06-07         NaN   11.0     NaN        0.0         NaN
2020-07-07      1005.0   11.0       A        4.0         NaN
2020-08-07         NaN   11.0       D       10.0         NaN
2020-09-07      1007.0   12.0       B        4.0        80.0
2020-10-07      1008.0   12.0       C        NaN        90.0
2020-11-07      1009.0   12.0       A        NaN        60.0
2020-12-07      1010.0   12.0       D        6.0        85.0

In [13]:
f.interpolate(method='time')

NotImplementedError: Interpolation with NaNs in the index has not been implemented. Try filling those NaNs before interpolating.